services:
  nextjs:
    build: .
    container_name: nextjs_app
    restart: always
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "8080:80"   # host 8080 -> container 80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - nextjs
